{% extends 'pynetsoftwares/import/blueprint.html' %}
{% load static %}
{% block title %} About Us - GoodWEB Solutions {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}


{% block content %}

   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>About Us</h2>
						<ul class="page-title-link">
							<li><a href="home">Home</a></li>
							<li><a href="about_us">About Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="about" class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">
                        <h1>About Us</h1>
                        <h2>Welcome to PyNet Softwares Pvt Ltd</h2>
                        <p class="lead">PyNet Softwares Pvt Ltd. is a global software development & industrial training company specializing in providing advanced technical training and certifications courses on latest programming technologies.</p>

                        <p> We offer several innovative learning methods and delivery models to cater the unique requirements of a global customer base. We also provide corporate training's on various cutting edge technologies. We have a team of Certified Trainers with minimum 10+ years of Industry background. Our courses are for individuals as well as for professionals. We also undertake customisation of the courses as per client requirement. </p>
                        <p> We have partnered with various companies and agencies to help place our students with the best matching position with startups and MNC's. We have developed P3-Model (Placement Preparation Process) which helps students to crack interviews. </p>

                        <h3>Our Mission & Vision:</h3>
                        <h4>Our Mission</h4>
                        <p> WTo be the most successful organization delivering best hands-on training in the market we serve.</p>
                        <h4>Our Vision</h4>
                        <ul>
                            <li>To be the Brand bridging gap between Industry & Academia.</li>
                            <li>To be a workplace where everyone is inspired to be the best they can be.</li>
                            <li>To inspire innovation, learning, creativity.</li>
                            <li>To be a responsible, effective, dynamic and fast-moving organization.</li>
                        </ul>
                        <br>
                        <h3>Why PyNet</h3>
                        <ul>
                            <li>We offer live project hand-on training as per current industry norms.</li>
                            <li> We have team of dedicated professionals having 10+ years of corporate experience in real time projects</li>
                            <li>To inspire innovation, learning, creativity.</li>
                            <li>To be a responsible, effective, dynamic and fast-moving organization.</li>
                            <li>We have provided In-campus training programs in various colleges.</li>
                            <li>We have offered Inplant training programs in various corporate.</li>
                            <li>Trained more than 500 freshers & working professionals.</li>
                            <li>We have rich faculty pool for each technology.</li>
                            <li>We provide globally recognized course completion certificate.</li>
                        </ul>
                        <br>
                        <h3>Benefits Of Our Training Program</h3>
                        <ul>
                            <li>In-campus/In-house Customized training for Colleges/Institutions.</li>
                            <li>In-Plant/Corporate Customized Training for companies/working professionals.</li>
                            <li>Live projects & Onsite Exposure (Industrial visit).</li>
                            <li>Fully equipped lab with advance technologies.</li>
                            <li>Industry Aligned Industrial Training.</li>
                            <li>Personality Development and soft skill sessions.</li>
                        </ul>

<!--                        <a href="#services" class="btn btn-light btn-radius btn-brd grd1">Learn More</a>-->
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'pynetsoftwares/uploads/about_01.jpg' %}" alt="" class="img-responsive img-rounded">
                        <a href="http://www.youtube.com/watch?v=nrJtHemSPW4' %}" data-rel="prettyPhoto[gal]" class="playbutton"><i class="flaticon-play-button"></i></a>
                    </div><!-- end media -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}

