{% extends 'pynetsoftwares/import/blueprint.html' %}
{% load static %}
{% block title %} Testimonial - GoodWEB Solutions {% endblock title %}
{% block testimonialsactive %} active {% endblock testimonialsactive %}


{% block content %}
   	<div class="banner-area banner-bg-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner">
						<h2>Testimonials</h2>
						<ul class="page-title-link">
							<li><a href="home">Home</a></li>
							<li><a href="testimonials">Testimonials</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div id="test-box" class="section wb">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
                <p class="lead">We thanks for all our awesome testimonials! There are more than hundreds of our happy students! 
                <br>Let's see what our students say about PyNet Softwares Pvt Ltd!</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                    {% for stu_test in AllTestimonials %}
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> {{stu_test.review_heading}}</h3>
                                <p class="lead">{{stu_test.review_content}}</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{{stu_test.student_images.url}}" alt="" class="img-responsive alignleft">
                                <h4>{{stu_test.student_name}} <small>- {{stu_test.course_name}}</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                    {% endfor %}
                        <!-- end testimonial -->

                        {% comment %} <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'pynetsoftwares/uploads/testi_02.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'pynetsoftwares/uploads/testi_03.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Wonderful Support!</h3>
                                <p class="lead">They have got my project on time with the competition with a sed highly skilled, and experienced & professional team.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'pynetsoftwares/uploads/testi_01.png' %}" alt="" class="img-responsive alignleft">
                                <h4>James Fernando <small>- Manager of Racer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Awesome Services!</h3>
                                <p class="lead">Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you completed.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'pynetsoftwares/uploads/testi_02.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Jacques Philips <small>- Designer</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Great & Talented Team!</h3>
                                <p class="lead">The master-builder of human happines no one rejects, dislikes avoids pleasure itself, because it is very pursue pleasure. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="{% static 'pynetsoftwares/uploads/testi_03.png' %}" alt="" class="img-responsive alignleft">
                                <h4>Venanda Mercy <small>- Newyork City</small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div><!-- end testimonial --> {% endcomment %}
                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->

        </div><!-- end container -->
    </div><!-- end section -->


{% endblock %}
